@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
}

.container-squares {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  justify-content: first baseline;
  align-items: center;
  margin: 0 auto;
  overflow: visible;
  padding-right: 1vw;
  padding-left: 1vw;
}

.square {
  overflow: hidden;

  display: flex;
  border: solid 1px rgba(255, 255, 255);
  border-radius: 2px;
  height: 80vh;
  width: auto;
  margin: 1px;
  flex: 1 1 calc(280px + 1em);
}

.container-thumbnail {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.description-thumbnail {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
}

.section-projects {
  border: 5px cornflowerblue solid;
}

.container-intro {
  position: relative;
  height: 100vh;
  border: 5px cornflowerblue solid;
  overflow: hidden;
}
#videoFlower{
  position:absolute;
  top: 0;
}

video{
  height: 100vh;
  width: 100vw;
}
.position-icon-showreel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  justify-content: first baseline;
  align-items: center;
  margin-bottom: 10px;
}
.container-icon-showreel {
  display: flex;
  flex: 1 1 calc(280px + 1em);
  justify-content: center;
  height: 80vh;
  position: relative;
}
#icon-showreel {
  position: absolute;
  bottom: calc(1vw - 50px);
  animation: rotation 10s infinite linear;
  
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

#container-showreel{
  height: 100vh;
}

/* .visual-flower{
  color: #999999;
  position: absolute;
  top: 100;
  left: 0;
  z-index: -100;
} */

