.container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 100px 1vw 100px 1vw;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  max-height: 90vh;
    
    
}

.headshot{
    width: 30vw;
}
